{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container-fluid p-0 m-8 fatlog2 shadow-lg bg-orange rounded"  style="text-align: center; background:orange; max-width: 1200px; margin-top: 20px;">
        
      		<div>
      			<h3>{{post.name}}</h3>
      		</div>
      		<div>
      			<p>
      				{{post.post_text}}
      			</p>
      		</div>
      		<div>
      			<p>
      				Дата публикации:
      				{{post.pub_date}}
      			</p>
      		</div>
            <div >
                {% if request.user.is_authenticated %}
                    <a href="{% url 'sntVoshod:news' %}"class="a2" style="font-size: 25px;">Назад к новостям</a>
                {% else %}
                    <a href="{% url 'sntVoshod:index' %}"class="a2" style="font-size: 25px;">Главная</a>
                {% endif %}    
            </div>
        </div>
{% endblock content %}