{% extends 'base.html' %}
{% load static %}
{% block content %}

        <section class="container snt-info" style="background:orange;">
            <div class="row">
                <div class="col-lg-6 no-gutters pr-0 pl-0 snt-info__information">
                    <h2 class="inf-section__h2">На сайте СНТ"Восход-1" вы можете:</h2>
                    <ul class="list2">
                        <li>
                            Ознакомиться с актуальной информацией, касающейся Товарищества, а также новостями из сферы садоводства и огородничества;
                        </li><br>

                        <li>
                            Увидеть всю необходимую документацию;
                        </li><br>

                        <li>
                            Задать вопрос и получить оперативный ответ;
                        </li><br>

                        <li>
                            Посмотреть список участков, входящих в состав Товарищества.
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 d-none d-lg-block no-gutters pr-0 pl-0">
                    <img src="{% static 'sntVoshod/inf-section/s1200.jpg' %}" alt="К сожалению картинка не загрузилась" class="site-info__img">
                </div>
            </div>
        </section>

            <section class="container news-section">
                {% if post%}
                  {% for article in post|slice:'1'%}
                    <div class="row">
                    </div>
                            <div class="d-flex justify-content-between news__item " style="margin-top: 30px; background: #dfd532;">
                                <div class="p-2"></div>
                                <div class="p-3 news__item shadow-lg p-3 mb-5 bg-orange rounded" id ='123' style="margin-top: 50px; text-align:  center;">
                                    <h3> Последние Новости</h3>
                                    <p>✉{{article.pub_date}}</p>
                                    <h3 class="sada">{{article.name}}</h3>
                                    <p class="par-news__item">
                                    <strong>ВНИМАНИЕ!</strong>
                                    {{article.post_text|truncatechars:125}}
                                </p>
                                <a href="{% url 'sntVoshod:check_post' article.id%}">Открыть эту новость</a>
                                </div>
                                <div class="p-2" style="width: 1px;"></div>

                            </div>
                      </div>
                    {%endfor%}
                {% endif %}

            </section>
{% endblock content %}

        
