{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'sntVoshod:index' %}">Главная</a>
    {%endif%}
        <div class="container" style="background: orange; padding-bottom: 150px; margin-top: 0px;">
                    <h3 class="h3__login-section">Войти в личный кабинет:</h3>
                    <hr>
                    <div class="">
                            <form action="" method="post">
                            {% csrf_token %}
                            <!-- <input type="text" maxlength="25" placeholder="Логин" required="" name="login" class="login"><br><br>
                            <input type="password" name="password" maxlength="32" placeholder="Пароль" required="" class="password"><br><br>
                            <span class="login-secton__checkbox"><input type="checkbox" name="checkbox__login-section" class="checkbox__login-section"> Запомнить на этом компьютере</span><br><br> -->
                            {{form.as_p}}
                        
                                <button name="button__submit2" class="btn btn-success">Войти</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
{% endblock content %}