{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container" style="padding: 20px;">
            <div class="news-div1" style="background: orange; padding: 20px; margin-bottom: 0px; text-align: center;">
            	<h1 class="news-h1">Новости</h1>
            </div>
            <section style="background: orange; margin-top: 0px; padding: 20px;">
                    {% if post_list%}
                    <div class="d-flex flex-column">
                    {% for post in post_list%}
                        <div class="p-2">
                            <a href="{% url 'sntVoshod:check_post' post.id%}">
                            <h2 style="margin-top: 0px; padding-top: 20px;">
                                {{post.name}}
                            </h2>
                            </a>
                            <p>
                                {{post.post_text|truncatechars:99}}
                            </p>
                            <p>
                                Дата публикации: {{post.pub_date}}
                            </p>
                        </div>
                    {%endfor%}
                    </div>
                {% endif %}

            <div class="pagination" style="font-size:20px; text-align: center;">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo;  Первая</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}

                    <span class="current">
                        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>

                
            </section>

        </div>
{% endblock content %}