{% extends 'base.html' %}
{% load static %}
{% block content %}    
    <div class="container shadow-lg p-3 mb-5 bg-orange rounded" style=" background: #ffbc40; padding-top: 20px; padding-right: 20px; padding-left: 20px; padding-bottom: 20px;">

        <h3>{{user.get_full_name}}</h3>
				{% if not user.profile.home %}
				<form class="" action="{% url 'sntVoshod:add_home' %}" method="post">
						{% csrf_token %}
					<input type="text" name="home_number" value="" class="form-control" placeholder="Номер вашего дома">
					<input type="submit" name="" value="Записать" class="btn btn-success">
				</form>
				{% else %}
				<p>
					Дом номер {{user.profile.home}}
				</p>
				{% endif %}<br>

        <h5>{{user.username}}</h5>
        <h7>{{user.email}}</h7>
				<br>
        <br>
        <a href="{% url 'sntVoshod:logout' %}" class="a1">Выйти из своего аккаунта</a>

    </div>
{% endblock content %}
