{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'sntVoshod:index' %}">Главная</a>
    {%endif%}
		<section class="" style="background: orange;">
			<div class="registration container">
				<h1 class="text-registration">
				<span class="text2-registretion">
					Регистрация
				</span>
				</h1>
				<hr>
				<h3 class="text3-registretion"><span class="">Учётные данные</span></h3>
					<div class="row col-12">
						<form method="post" class="form_reg">
						{% csrf_token %}
						{{form.as_p}}
						<div class="row form-error">{{ f.errors }}</div>
						<button type="submit" class="btn btn-success submit-button">Регистрация</button>
					</div>
				</form>
				<br>
				<br>
			</div>
		</section>
{% endblock content %}