{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container" style="background: orange; padding-top: 20px;">
		<h2>{{question.question_header}}</h2>
		<p style="font-size:20px; padding-top: 20px">{{question.question_text}}</p><br><br>
		<p>Дата публикации: {{question.pub_date}}</p>
		<hr>
		<h4>Ответы других пользователей</h4>
		<hr>
			<form action="" method="post">
				{% csrf_token %}
				<input type="text" name="reply" class="form-control"><br>
				<input type="submit" name="" value="Ответить" class="btn btn-success">
			</form>
		<hr>

		{% if replys %}
			{% if not request.GET.all_reply %}
				{% for reply in replys|slice:'10'%}
					<hr class="my-2" style="padding-bottom: 10px;">
					<h5 style="font-size: 19px;">{{reply.reply}}</h5> <p> от {{reply.author.first_name}} {{reply.author.last_name}}@{{reply.author.username}}   [Дата ответа: {{reply.pub_date}}]</p><br>
					<hr class="my-2" style="padding-top: 10px;">
					{% if forloop.last %}
						<a href="{% url 'forum:check_question' question.id%}?all_reply=True">Загрузить все ответы</a>
					{% endif %}
				{% endfor %}
			{% else %}
				{% for reply in replys%}
					<hr class="my-2" style="padding-bottom: 10px;">
					<h5 style="font-size: 19px;">{{reply.reply}}</h5> <p> от {{reply.author.first_name}} {{reply.author.last_name}}@{{reply.author.username}}   [Дата ответа: {{reply.pub_date}}]</p><br>
					<hr class="my-2" style="padding-top: 10px;">
				{% endfor %}
			{% endif %}
		{% endif %}
	</div>
{% endblock content %}