{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container" style="background: orange; padding-bottom: 100px;">

		<div class="row" style="padding-top: 25px;">
			<form action="" method="post">
				{% csrf_token %}
				<label>Краткое название</label><input type="text" name="q_name" class='form-control'><br>
				<label>Суть обсуждения</label><textarea name="q_text" class="form-control" rows="20" cols="35"></textarea><br>
				<input type="submit" name="subm" class="btn btn-success"><br><br><br>
			</form>
		</div>
		<div class="row">
			<a href="{% url 'forum:index' %}">Назад к вопросам</a>			
		</div>
	</div>
{% endblock content %}

