{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container" style="background: orange;">
		<br><br>
		<h1>
			Ваш профиль: <a href="{% url 'sntVoshod:profile' %}">{{user.username}}</a>
		</h1>

		<br><br>

		<hr class="my-2">
			<a href="{% url 'forum:create_question' %}" style="font-size:20px;">Создать обсуждение</a>
		<hr class="my-2">

		{% for question in questions_list %}
			<!-- <h3><a href="{% url 'forum:check_question' question.id%}">{{question.question_header}}</a></h3>
			<p>{{question.pub_date}}</p> -->
			<div class="jumbotron" style="padding-top:40px;">
				<h1 class="display-3">{{question.question_header}}</h1>
				<p class="lead">{{question.pub_date}}</p>
				<hr class="my-2">

				<p class="lead">
				<a class="btn btn-primary btn-lg" href="{% url 'forum:check_question' question.id%}" role="button">Открыть обсуждение</a>
				</p>
			</div>

		{% endfor %}

		<div class="pagination" style="font-size:20px;">
		    <span class="step-links">
		        {% if page_obj.has_previous %}
		            <a href="?page=1">&laquo;  Первая</a>
		            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
		        {% endif %}

		        <span class="current">
		            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
		        </span>

		        {% if page_obj.has_next %}
		            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
		            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
		        {% endif %}
		    </span>
		</div>

	</div>
{% endblock content %}
