*{
	box-sizing: border-box;
}

html{
	font-family: 'Roboto', sans-serif;
	background: #dfd532;
	overflow-x: hidden;
}

body{
	background: orange;
}

label {
	font-size: 20px;
}

.form_reg{
	margin-left: 20px;
}

.container{
	max-width: 610px;
	margin: 0 auto;
}

.registration{
	font-family: 'Roboto', sans-serif;
	background: orange;
	height: 800px;
	margin: 0 auto;
}

.text-registration{
	text-align: center;
	padding-top: 20px;
}

.text3-registretion{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;

}

.name-user{
	width: 300px;
	height: 30px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.login-text{
	font-size: 20px;
	position: absolute;
	font-weight: bold; 
	padding-top: 5px;
	padding-left: 55px;
}

.password-text{
	font-size: 20px;
	position: absolute;
	font-weight: bold; 
	padding-top: 5px;
	padding-left: 40px;
}

.name-text{
	font-size: 20px;
	position: absolute;
	font-weight: bold; 
	padding-top: 5px;
	padding-left: 72px;
}

.och-text{
	font-size: 20px;
	position: absolute;
	font-weight: bold; 
	padding-top: 5px;
	padding-left: 19px;
}

.last__name-text{
	font-size: 20px;
	position: absolute;
	font-weight: bold; 
	padding-top: 5px;
	padding-left: 21px;
}

.e-mail-text{
	font-size: 20px;
	position: absolute;
	font-weight: bold; 
	padding-top: 5px;
	padding-left: 53px;
}

.submit-button{
	width: 200px;
	height: 40px;
	border-radius: 10px;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin-left: 51px;
	background: #FF7F50;
	border: #FF7F50;
}

.button-block{
	width: 300px;
	height: 30px;
	margin: 0 auto;
}

.button-reg2{
	padding-top: 40px;
}

.fatlog2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: #FF8C00;
    color: black;
    text-align: center;
    padding: 0px;
    margin: -8px; 
}

.a2{
    padding-right: 5px; 
    text-decoration: none;
}


a.a2:link{
    color: black;
}

a.a2:visited{
    color: black;
} 

header{
	font-family: 'Lobster', cursive;
}

.auth-info2{
	font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-left: 460px;
    margin-top: -216px;
    font-size: 17px;
}

.button__submit2{
	background: #FF7F50;
    font-size: 20px;
    width: 210px;
    height: 46px;
    border-radius: 10px;
    border: #87CEEB;
    margin-right: 0px;
}

.h3__login-section{
	text-align: center;
	margin-top: 50px;
	padding-top: 10px;
}

input.login{
	margin-top: 15px;
}

input.login, input.password{
	margin-left: 5px;
	width: 600px;
	height: 35px;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
}

.div__login2{
	background: orange;
	width: 610px;
	height: 310px;
	margin: 0 auto;

}

.login-secton__checkbox{
	display: block;
	text-align: center;
}

.button__submit2{
	display: block;
	margin: 0px auto;
	margin-bottom: 10px;
}